$system-font: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-sans-serif: "Poppins", "Open Sans", "Nunito Sans", $system-font
$body-bg: #f8f8f8
$primary: #1e90ff

$sidebar-width: 280px
$sidebar-bg: transparentize($primary, .95)
$sidebar-border-color: darken($sidebar-bg, 20%)
$header-height: 100px
$sidebar-padding: 1.5rem
$sidebar-link-height: 50px
$sidebar-link-hover-bg: darken($sidebar-bg, 6%)
$link-color: $primary
