.layout
  display: grid
  grid-template-columns: $outer-sidebar-width $sidebar-width 1fr
  background: $body-bg
  height: 100vh

  main
    padding: 1.5rem 2.5rem

.layout-header
  height: $header-height