.sidebar
  background: $sidebar-bg
  padding: 1.5rem
  border-right: 1px solid $sidebar-border-color

.sidebar-link, .sidebar-sign-out
  display: grid
  grid-template-columns: 1.5rem 1fr
  gap: 10px
  align-items: center
  width: 100%
  color: inherit
  height: $sidebar-link-height
  line-height: $sidebar-link-height
  transition: .2s ease-in-out
  padding: 0 $sidebar-padding
  outline: none
  border: none
  font-size: 1rem
  cursor: pointer
  background: none
  margin: 0 -#{$sidebar-padding}
  box-sizing: content-box
  text-align: left

  svg
    width: 1.25em
    justify-self: center
    > *
      fill: currentColor

  &:hover
    background: $sidebar-link-hover-bg

  &.is-active
    color: $primary